ul li {
    list-style: none;
    margin: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

nav a {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.nombretienda{
    display: flex;
    justify-content: flex-start;
    font-size: xx-large;
    font-weight: bolder;
    margin: 20px;
    color: rgb(255, 255, 255);
}

.navbar {
    background-color: #050505;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    margin-right: 2rem;
}